<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-img [src]="logo" id="logo" class="center"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Resetpassword</h3>
  <form [formGroup]="resetpasswordForm" (ngSubmit)="sendContactForm()">
    <ion-item>
      <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="email" type="email" required="true"></ion-input>
    </ion-item>
    <div class="formErrors">
      <ion-item color="danger" *ngIf="!resetpasswordForm.controls.email.valid && !resetpasswordForm.controls.email.pending && (resetpasswordForm.controls.email.dirty)">
        Sorry, that email is not correct!
      </ion-item>
    </div>
    <ion-button block color="primary" type="submit" [disabled]="resetpasswordForm.invalid">
      Login
    </ion-button>
  </form>
</ion-content>
